!!!5
%head
  %meta{:charset => 'utf-8'}
  %meta{:'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
  %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0'}
  = csrf_meta_tags
  %title Bootstrap
  = javascript_include_tag "modernizr-2.0.6"
  = stylesheet_link_tag "application"
  = yield :head
%body
  #container
    %header
    #main
      = yield
    %footer
  = javascript_include_tag "application"
